@import 'scss/font-awesome';

//----- Font awsome -----

@mixin icon($icon) {
	@include icon-FontAwesome();
	content: $icon;
}

@mixin icon-FontAwesome() {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em; // fixes ie7 issues
}

@mixin single-transition($t-property: all, $t-duration: 0.3s, $t-timing: linear, $t-delay: 0s) {
	-webkit-transition: $t-property $t-duration $t-timing $t-delay;
	-moz-transition: $t-property $t-duration $t-timing $t-delay;
	-o-transition: $t-property $t-duration $t-timing $t-delay;
	transition: $t-property $t-duration $t-timing $t-delay;
}

@mixin border_radius($size: 50%) {
	border-radius: $size;
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
}

@mixin shadow($horisontal: 1px, $vertical: 1px, $blur: 5px, $spread: 0, $color: #333333) {
	-webkit-box-shadow: $horisontal $vertical $blur $spread $color;
	box-shadow: $horisontal $vertical $blur $spread $color;
}

$white: #ffffff;
$black: #000000;

// LAYOUT

html,
body {
	background-color: black;
}

.middle {
	position: relative;
	overflow: hidden;
	max-width: 640px !important;
	background-color: $white !important;
	
	
	
	margin: {
		left: auto;
		right: auto;
	}
	
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		clear: both;
		float: none;
	}
}

.info_panel {
	position: absolute;
	top: 79%;
	left: 0;
	width: 100%;
	height: 100%; 
	background-color: $white;
	padding: 1rem;
	
	&.open {
		top: 7.5% !important;
	}
	
	.toggle {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		font-size: 35px;
		color: grey;
	}
}

.row {
	max-width: 76rem;
}

